version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: translation-backend
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=${MONGO_URI}
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: translation-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    restart: always
