fastapi
uvicorn
pymongo
python-dotenv
requests
httpx
pydantic
pydantic_core

# AI + NLP + LLM Tools
langchain==0.0.352
langgraph
langgraph-sdk
langgraph-prebuilt
langdetect
deepmultilingualpunctuation
openai
tiktoken

# Audio Processing + Separation + TTS
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
demucs==4.0.0
gTTS
pydub

# OCR / Computer Vision
paddlepaddle==2.6.1
paddleocr==2.7.0
pytesseract
opencv-python-headless==4.8.0.74
pdfminer.six
pdfplumber
PyMuPDF
pdf2docx

# Image + Video Processing
moviepy
imageio
imageio-ffmpeg
scikit-image

# Utilities
numpy
pandas
python-multipart
Pillow
regex
rapidfuzz
loguru
