fastapi
uvicorn
pymongo
python-dotenv
requests
httpx
pydantic
pydantic_core

# AI + NLP + LLM Tools
langchain==0.1.14
langgraph==0.0.53
langgraph-sdk==0.1.70
langgraph-prebuilt==1.0.5
langdetect
deepmultilingualpunctuation
openai
tiktoken

# CPU Torch Index (must be before torch)
--extra-index-url https://download.pytorch.org/whl/cpu

# Audio Processing + Separation + TTS
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
demucs==4.0.0
gTTS
pydub

# OCR / Computer Vision
paddlepaddle==2.6.2
paddleocr==2.7.0
pytesseract
opencv-python-headless==4.8.0.74
pdfminer.six
pdfplumber
PyMuPDF
pdf2docx

# Image + Video Processing
moviepy
imageio
imageio-ffmpeg
scikit-image

# Utilities
numpy
pandas
python-multipart
Pillow
regex
rapidfuzz
loguru
